<div style="clear: both;">
<%= form_for(@pilot) do |f| %>
  <% if @pilot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pilot.errors.count, "error") %> prohibited this pilot from being saved:</h2>

      <ul>
      <% @pilot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset style="float: left;">
  <h3>Datos piloto</h3>
  <div class="field">
    <%= f.label 'Dorsal FSDB' %><br />
    <%= f.text_field :fsdb_id %>
  </div>
  <div class="field">
    <%= f.label 'Nombre' %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label 'Apellidos' %><br />
    <%= f.text_field :surname %>
  </div>
  <div class="field">
    <%= f.label "Género (M/F)" %><br />
    <%= f.text_field :gender, :maxlength => 1 %>
  </div>
  <div class="field">
    <%= f.label 'D.N.I./Pasaporte' %><br />
    <%= f.text_field :passport %>
  </div>
  <div class="field">
    <%= f.label "Talla de camiseta" %><br />
    <%= f.text_field :tshirt_size %>
  </div>
  <div class="field">
    <%= f.label "Nacionalidad (ISO ALPHA-3, p.e. ESP)" %><br />
    <%= f.text_field :nationality, :maxlength => 3 %>
  </div>
  <div class="field">
    <%= f.label "Equipo" %><br />
      <select class="required" name="pilot[team]" id="pilot_tshirt_size">
      <option value=""></option>
      <option value="NORTEÑOS">NORTEÑOS</option>
      <option value="SUREÑOS">SUREÑOS</option>
      <option value="LUSOS">LUSOS</option>
      <option value="GUADARRAMAS">GUADARRAMAS</option>
      <option value="GREDOSIANOS">GREDOSIANOS</option>
      </select>
  </div>
  <div class="field">
    <%= f.label "CIVL ID" %><br />
    <%= f.text_field :civl_id %>
  </div>
  <div class="field">
    <%= f.label "Club" %><br />
    <%= f.text_field :club_name %>
  </div>
  <div class="field">
    <%= f.label "Licencia" %><br />
    <%= f.text_field :license %>
  </div>
  </fieldset>
  <fieldset>
  <h3>Datos de contacto</h3>
  <div class="field">
    <%= f.label "Dirección" %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label "Ciudad" %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label "Teléfono fijo" %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label "Correo electrónico" %><br />
    <%= f.text_field :email %>
  </div>
  </fieldset>
  <fieldset>
  <h3>Contacto de emergencia</h3>
  <div class="field">
    <%= f.label "Nombre completo" %><br />
    <%= f.text_field :contact_name %>
  </div>
  <div class="field">
    <%= f.label "Relación contigo" %><br />
    <%= f.text_field :contact_relation %>
  </div>
  <div class="field">
    <%= f.label "Teléfono" %><br />
    <%= f.text_field :contact_phone %>
  </div>
  <div class="field">
    <%= f.label "Grupo sanguíneo" %><br />
    <%= f.text_field :blood_type %>
  </div>
  <div class="field">
    <%= f.label "Alergias conocidas" %><br />
    <%= f.text_field :allergies %>
  </div>
  <div class="field">
    <%= f.label "Pagado" %><br />
    <%= f.text_field :paid %>
  </div>
  </fieldset>
  <fieldset>
  <h3>Tipo de Ala</h3>
  <div class="field">
    <%= f.label "Clase" %><br />
    <%= f.text_field :glider_class %>
  </div>
  <div class="field">
    <%= f.label "Fabricante" %><br />
    <%= f.text_field :glider_manuf %>
  </div>
  <div class="field">
    <%= f.label "Modelo" %><br />
    <%= f.text_field :glider_model %>
  </div>
  <div class="actions">
    <%= f.submit 'Actualizar' %>
  </div>
  </fieldset>
<% end %>
</div>
