<h2>Editanto datos de <%= @pilot.name %> <%= @pilot.surname %></h2>

<%= render 'form' %>

<%= link_to 'Ver ficha', @pilot %> |
<%= link_to 'Volver al listado', pilots_path(:view => 'admin', :competition_id => @competition.id) %>
