<h2>Gestión de pilotos inscritos</h2>

<table style="clear: left">
  <tr>
    <th>#</th>
    <th>Nombre</th>
    <th>Nat</th>
    <th>Club</th>
    <th>Dirección</th>
    <th>Ciudad</th>
    <th>Teléfono</th>
    <th>Contacto</th>
    <th>Relation</th>
    <th>Teléfono</th>
    <th>€</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pilots.each do |pilot| %>
  <tr>
    <td><%= pilot.fsdb_id %></td>
    <td><%= "#{pilot.name} #{pilot.surname}" %></td>
    <td><%= pilot.nationality %></td>
    <td><%= pilot.club_name %></td>
    <td><%= pilot.address %></td>
    <td><%= pilot.city %></td>
    <td><%= pilot.phone %></td>
    <td><%= pilot.contact_name %></td>
    <td><%= pilot.contact_relation %></td>
    <td><%= pilot.contact_phone %></td>
    <td><%= pilot.paid? ? 'Sí' : 'No' %></td>
    <td><%= link_to 'Ver', pilot %></td>
    <td><%= link_to 'PDF', pilot_path(pilot, :format => :pdf) %></td>
    <td><%= link_to('Editar', edit_pilot_path(pilot)) %></td>
    <td><%= link_to('Borrar', pilot, :confirm => "Seguro que quieres borrar a #{pilot.name}", :method => :delete) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Piloto', new_pilot_path %>
