<h2>Pilotos inscritos</h2>

<table style="clear: left;">
  <tr>
    <th width="1%">#</th>
    <th>Nombre</th>
    <th width="1%">Nat</th>
    <th>Club</th>
    <th>Ala</th>
    <th width="1%">Tipo</th>
    <th width="1%">Grupo sanguíneo</th>
    <th>Alergias conocidas</th>
  </tr>

<% @pilots.each do |pilot| %>
  <tr>
    <td><%= pilot.fsdb_id %></td>
    <td><strong><%= "#{pilot.name} #{pilot.surname}" %></strong></td>
    <td><%= pilot.nationality.upcase %></td>
    <td><%= pilot.club_name.upcase %></td>
    <td><%= pilot.glider_manuf.upcase %> <%= pilot.glider_model %></td>
    <td><%= pilot.glider_type %></td>
    <td><%= pilot.blood_type %></td>
    <td><%= pilot.allergies %></td>
  </tr>
<% end %>
</table>
