<style>
body{
  font:16px Helvetica,Arial,sans-serif;
  line-height:1.2em;
}
img {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}
h1 {
  font-size: 1.9em; 
  padding-top: 25px;
  margin-top: 0px;
}
p {
  padding-left: 5px;
}

</style>
<img src="http://clubdevuelopb.com/open/images/logo.png">
<h1>I Open de Ala Delta de Pedro Bernardo</h1>
<h2>Solicitud de Inscripción</h2>
<p style="clear: left">
  <b>Nombre y apellidos:</b>
  <%= @pilot.name %> <%= @pilot.surname %>
</p>
<p>
  <b>Dirección:</b>
  <%= @pilot.address %>
</p>

<p>
  <b>Ciudad:</b>
  <%= @pilot.city %>
</p>

<p>
  <b>Teléfono:</b>
  <%= @pilot.phone %>
</p>

<p>
  <b>Correo electrónico:</b>
  <%= @pilot.email %>
</p>

<p>
  <b>Club:</b>
  <%= @pilot.club_name.upcase %>
</p>

<p>
  <b>Talla camiseta (S/M/L/XL):</b>
  <%= @pilot.tshirt %>
</p>

<p>
  <b>Tipo de ala (Sport/Calva/Rígida):</b>
  <%= @pilot.glider_type %>
</p>

<p>
  <b>Fabricante y modelo:</b>
  <%= @pilot.glider_manuf.upcase %> <%= @pilot.glider_model %>
</p>

<p>
  <b>Contacto de emergencia (nombre, relación y teléfono):</b><p>
<p> 
<%= @pilot.contact_name %>
<% unless @pilot.contact_relation.blank? %>
  (<%= @pilot.contact_relation %>)
<% end %>
<%= @pilot.contact_phone %>
&nbsp;</p>
<p>
  <b>Grupo sanguíneo:</b>
  <%= @pilot.blood_type %>
</p>
<p>
  <b>Alergias conocidas:</b>
  <%= @pilot.allergies %>
</p>
<p>
  <b>Número de licencia:</b>
  <%= @pilot.license %>
</p>
<p>
  <b>Pagado por transferencia:</b>
  <%= @pilot.paid? ? 'Sí' : 'No' %>
</p>
<p>
El abajo firmante, mediante el presente escrito, manifiesta expresamente lo siguiente:</p>
<ol>
<li>Que conoce, comprende, acata y cumple lo dispuesto en el Reglamento del I Open de Ala Delta de Pedro Bernardo, reconociéndose con capacidad y nivel técnico suficiente para abordar sin riesgos las dificultades de la competición.
</li>
<li>Que participa en esta competición asumiendo su responsabilidad y eximiendo de toda ella a las entidades y personas que organizan y colaboran en el desarrollo de la prueba.</li>
</li>
<li>Que no padece enfermedad ni incapacidad física o psíquica alguna que le impida competir en ala delta sin poner en riesgo su seguridad ni la del resto de participantes.
</li>
</ol>
<p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<b>Firma:</b></p>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <b>D.N.I./Pasaporte:</b>
  <%= @pilot.passport %>
