<h1>I Open de Ala Delta de Pedro Bernardo</h1>
<p>
  <b>Nombre:</b>
  <%= @pilot.name %>
</p>

<p>
  <b>Apellidos:</b>
  <%= @pilot.surname %>
</p>

<p>
  <b>Talla camiseta:</b>
  <%= @pilot.tshirt_size %>
</p>

<p>
  <b>Club:</b>
  <%= @pilot.club_name %>
</p>

<p>
  <b>Dirección:</b>
  <%= @pilot.address %>
</p>

<p>
  <b>Ciudad:</b>
  <%= @pilot.city %>
</p>

<p>
  <b>Teléfono:</b>
  <%= @pilot.phone %>
</p>

<p>
  <b>Correo electrónico:</b>
  <%= @pilot.email %>
</p>

<p>
  <b>Tipo de ala:</b>
  <%= @pilot.glider_class %>
</p>

<p>
  <b>Fabricante:</b>
  <%= @pilot.glider_manuf %>
</p>

<p>
  <b>Modelo:</b>
  <%= @pilot.glider_model %>
</p>

<p>
  <b>Contacto de emergencia (nombre):</b>
  <%= @pilot.contact_name %>
</p>

<p>
  <b>Relación:</b>
  <%= @pilot.contact_relation %>
</p>

<p>
  <b>Teléfono:</b>
  <%= @pilot.contact_phone %>
</p>
<p>
  <b>Grupo sanguíneo:</b>
  <%= @pilot.blood_type %>
</p>
<p>
  <b>Alergias conocidas:</b>
  <%= @pilot.allergies %>
</p>
<p>
  <b>Pagado:</b>
  <%= @pilot.paid? ? 'Yes' : 'No' %>
</p>
<p>
El abajo firmante, mediante el presente escrito, manifiesta expresamente lo siguiente:</p>
<ol>
<li>Que conoce, comprende, acata y cumple lo dispuesto en el Reglamento del I Open de Ala Delta de Pedro Bernardo, reconociéndose con capacidad y nivel técnico suficiente para abordar sin riesgos las dificultades de la competición.
</li>
<li>Que participa en esta competición asumiendo su responsabilidad y eximiendo de toda ella a las entidades y personas que organizan y colaboran en el desarrollo de la prueba.</li>
</li>
<li>Que no padezco enfermedad ni incapacidad física o psíquica alguna que me impidiera practicar el deporte de alta competición en ala delta sin riesgo alguno para mi salud.
</li>
</ol>
<p>Firma:</p>
