<img style="float: left; margin-right: 15px; margin-bottom: 15px;" src="http://clubdevuelopb.com/open/images/logo.png">
<h1 style="font-size: 28px; margin-top: 5px;">I Open de Ala Delta de Pedro Bernardo</h1>
<h2 style="fond-size: 18px;">28 de Abril - 1 de Mayo de 2012</h2>
<p style="clear: left">
  <b>Nombre y apellidos:</b>
  <%= @pilot.name %> <%= @pilot.surname %>
</p>

<p>
  <b>Talla camiseta:</b>
  <%= @pilot.tshirt_size %>
</p>

<p>
  <b>Club:</b>
  <%= @pilot.club_name %>
</p>

<p>
  <b>Dirección:</b>
  <%= @pilot.address %>
</p>

<p>
  <b>Ciudad:</b>
  <%= @pilot.city %>
</p>

<p>
  <b>Teléfono:</b>
  <%= @pilot.phone %>
</p>

<p>
  <b>Correo electrónico:</b>
  <%= @pilot.email %>
</p>

<p>
  <b>Tipo de ala:</b>
  <%= @pilot.glider_class %>
</p>

<p>
  <b>Fabricante y modelo:</b>
  <%= @pilot.glider_manuf.upcase %> <%= @pilot.glider_model %>
</p>

<p>
  <b>Contacto de emergencia (nombre, relación y teléfono):</b><p>
<p> <%= @pilot.contact_name %> (<%= @pilot.contact_relation %>) <%= @pilot.contact_phone %>
</p>
<p>
  <b>Grupo sanguíneo:</b>
  <%= @pilot.blood_type %>
</p>
<p>
  <b>Alergias conocidas:</b>
  <%= @pilot.allergies %>
</p>
<p>
  <b>Pagado:</b>
  <%= @pilot.paid? ? 'Yes' : 'No' %>
</p>
<p>
El abajo firmante, mediante el presente escrito, manifiesta expresamente lo siguiente:</p>
<ol>
<li>Que conoce, comprende, acata y cumple lo dispuesto en el Reglamento del I Open de Ala Delta de Pedro Bernardo, reconociéndose con capacidad y nivel técnico suficiente para abordar sin riesgos las dificultades de la competición.
</li>
<li>Que participa en esta competición asumiendo su responsabilidad y eximiendo de toda ella a las entidades y personas que organizan y colaboran en el desarrollo de la prueba.</li>
</li>
<li>Que no padece enfermedad ni incapacidad física o psíquica alguna que le impida competir en ala delta sin poner en riesgo su seguridad ni la del resto de participantes.
</li>
</ol>
<p><b>Firma:</b></p>
