<%- model_class = Pilot -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @pilot.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:surname) %>:</strong></dt>
  <dd><%= @pilot.surname %></dd>
  <dt><strong><%= model_class.human_attribute_name(:blood_type) %>:</strong></dt>
  <dd><%= @pilot.blood_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:allergies) %>:</strong></dt>
  <dd><%= @pilot.allergies %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nationality) %>:</strong></dt>
  <dd><%= @pilot.nationality %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tshirt_size) %>:</strong></dt>
  <dd><%= @pilot.tshirt_size %></dd>
  <dt><strong><%= model_class.human_attribute_name(:club_name) %>:</strong></dt>
  <dd><%= @pilot.club_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:address) %>:</strong></dt>
  <dd><%= @pilot.address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:city) %>:</strong></dt>
  <dd><%= @pilot.city %></dd>
  <dt><strong><%= model_class.human_attribute_name(:license) %>:</strong></dt>
  <dd><%= @pilot.license %></dd>
  <dt><strong><%= model_class.human_attribute_name(:country) %>:</strong></dt>
  <dd><%= @pilot.country %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
  <dd><%= @pilot.phone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:passport) %>:</strong></dt>
  <dd><%= @pilot.passport %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @pilot.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:glider_class) %>:</strong></dt>
  <dd><%= @pilot.glider_class %></dd>
  <dt><strong><%= model_class.human_attribute_name(:glider_manuf) %>:</strong></dt>
  <dd><%= @pilot.glider_manuf %></dd>
  <dt><strong><%= model_class.human_attribute_name(:glider_model) %>:</strong></dt>
  <dd><%= @pilot.glider_model %></dd>
  <dt><strong><%= model_class.human_attribute_name(:contact_name) %>:</strong></dt>
  <dd><%= @pilot.contact_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:contact_relation) %>:</strong></dt>
  <dd><%= @pilot.contact_relation %></dd>
  <dt><strong><%= model_class.human_attribute_name(:contact_phone) %>:</strong></dt>
  <dd><%= @pilot.contact_phone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:paid) %>:</strong></dt>
  <dd><%= @pilot.paid %></dd>
  <dt><strong><%= model_class.human_attribute_name(:civl_id) %>:</strong></dt>
  <dd><%= @pilot.civl_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gender) %>:</strong></dt>
  <dd><%= @pilot.gender %></dd>
  <dt><strong><%= model_class.human_attribute_name(:team) %>:</strong></dt>
  <dd><%= @pilot.team %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fsdb_id) %>:</strong></dt>
  <dd><%= @pilot.fsdb_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:competition_id) %>:</strong></dt>
  <dd><%= @pilot.competition_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:birthdate) %>:</strong></dt>
  <dd><%= @pilot.birthdate %></dd>
  <dt><strong><%= model_class.human_attribute_name(:zipcode) %>:</strong></dt>
  <dd><%= @pilot.zipcode %></dd>
  <dt><strong><%= model_class.human_attribute_name(:fai_license) %>:</strong></dt>
  <dd><%= @pilot.fai_license %></dd>
  <dt><strong><%= model_class.human_attribute_name(:admin) %>:</strong></dt>
  <dd><%= @pilot.admin %></dd>
  <dt><strong><%= model_class.human_attribute_name(:password) %>:</strong></dt>
  <dd><%= @pilot.password %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              pilots_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_pilot_path(@pilot), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              pilot_path(@pilot),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
